.bottom-bar {
  background-color: black;
  color: white;
  position: fixed;
  bottom: 0em;
  padding: 1em;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 60px;
}

.filled {
  color: #ff8c59;
}
