.profile-main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  .profile-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    width: 80%;
    .profile-image {
      width: 6rem;
      height: 6rem;
      object-fit: cover;
      border-radius: 50%;
      margin-top: 60px;
    }
    .profile-name {
      font-family: "Victor Mono", monospace;
    }
    .user-bio {
      font-family: "Victor Mono", monospace;
      margin-top: -15px;
    }
  }

  .profile-threads {
    margin-bottom: 60px;
    padding: 20px;
    margin-top: 0px;
    width: 80%;
  }
}

.image-section {
  position: relative;
}

.upload-btn-wrapper {
  position: absolute;
  overflow: hidden;
  right: 20px;
  margin-top: 40px;
}

.upload-btn-wrapper input[type="file"] {
  font-size: 50px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.edit-profile {
  width: 150px;
  height: 40px;
  margin-top: 10px;
  outline: none;
  background-color: black;
  border: 1px solid rgb(66, 66, 66);
  cursor: pointer;
  border-radius: 10px;
  font-size: 16px;
}

// .bio-edit {
//   display: flex;
//   align-items: flex-start;
//   flex-direction: column;
//   height: 40px;
//   gap: 20px;
// }

.bio-edit-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -30px;
}

.bio-input {
  width: 200px;
  height: 40px;
  margin-top: 10px;
  padding: 10px;
  font-size: 16px;
  background-color: #212121;
  outline: none;
  border: 1px solid rgb(66, 66, 66);
}

.progress-bar {
  width: 140px;
}
