.threads-main {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 80px;
  padding: 30px;

  .single-threads {
    width: 100%;
  }
}

.single-threads::-webkit-scrollbar {
  display: none;
}

.single-threads ::-moz-scrollbar {
  display: none;
}

.single-threads {
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-color: transparent transparent; /*just hides the scrollbar for firefox */
}

::-webkit-scrollbar {
  width: 0;
}

.thread-icon-container {
  margin-top: 30px;
  .thread-icon {
    width: 100px;
  }
}

.thread-card {
  height: auto;
  width: 100%;
  cursor: pointer;
  .name {
    font-size: 1.4rem;
  }

  .timestamp {
    font-size: 0.8rem;
    margin-top: -20px;
  }

  .name,
  .timestamp {
    font-family: "Victor Mono", monospace;
  }

  .description {
    margin-top: -10px;
    font-family: "Victor Mono", monospace;
    font-size: 1.1rem;
  }

  .vertical-line {
    min-height: 10vh;
    margin-left: -15px;
    position: absolute;
  }

  .action-btns {
    display: flex;
    justify-content: space-between;
    width: 15%;
  }
}
