.threads-main {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 80px;
}

.thread-icon-container {
  margin-top: 30px;
  .thread-icon {
    width: 100px;
  }
}

.thread-card {
  height: auto;

  .name {
    cursor: pointer;
  }

  .name,
  .timestamp {
    font-size: 20px;
    font-family: "Victor Mono", monospace;
  }

  .description {
    margin-top: -10px;
    margin-left: 30px;
    font-family: "Victor Mono", monospace;
  }

  .vertical-line {
    min-height: 10vh;
    margin-left: -15px;
    position: absolute;
  }

  .action-btns {
    display: flex;
    justify-content: space-between;
    width: 15%;
  }
}
